extends layout

block content
  h1 hello
  p Welcome to Songs

  form(action="getTabs", method="get", )
      label song:
      input(type="text", name="songName")
      br
      input(type="submit", value="Find this song")
      br
