<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Drum & Chill</h1>
    <p class="lead">Become a drum god today!</p>
    <img src="assets/images/547px-Drum_set_no_numbers_3.svg.png" height="200" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    Enter Your Name: <input type="text" class="form-control" ng-model="User.name">
  </div>
  <div class="row">
    Enter Your Song: <input type="text" class="form-control" ng-model="User.songName">
  </div>
  <div class="row">
    <button type="button" style="margin-top: 10px" class="btn btn-info" ng-click="createUser()">Play Game!</button>
  </div>



<footer></footer>
