<navbar></navbar>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    Enter Your Name: <input type="text" class="form-control" ng-model="User.name">
  </div>
  <div class="row">
    Enter Your Song: <input type="text" class="form-control" ng-model="User.songName">
  </div>
  <div class="row">
    <button type="button" class="btn btn-info" ng-click="createUser();getTabs()">Play Game!</button>
  </div>
  <!--<div class="row">
    <div ng-repeat="notes in tabs track by $index">
    {{notes}}
    </div>
  </div>-->
  <div ng-repeat="num in tabs track by $index">
    <div class="row">
      <div class="col-md-2" ng-class="{'color:red': num == 1}">1</div>
      <div class="col-md-2" ng-class="{'color:blue': num == 2}">2</div>
      <div class="col-md-2" ng-class="{'color:green': num == 3}">3</div>
      <div class="col-md-2" ng-class="{'color:yellow': num == 4}">4</div>
      <div class="col-md-2" ng-class="{'color:violet': num == 5}">5</div>
      <div class="col-md-2" ng-class="{'color:gray': num == 6}">6</div>
    </div>
  </div>
</div>



<footer></footer>
