<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Kent Dance Enough</h1>
    <p class="lead">Burn up the dancefloor from the comfort of your own home!</p>
    <img src="assets/images/Party_icon.svg.png" height="200" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    Enter Your Name: <input type="text" class="form-control" ng-model="User.name">
  </div>
  <div class="row">
    Enter Your Song: <input type="text" class="form-control" ng-model="User.songName">
  </div>
  <div class="row">
    <button type="button" style="margin-top: 10px" class="btn btn-info" ng-click="createUser()">Play Game!</button>
  </div>



<footer></footer>
